.header {
    position: relative;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100px;

    transition: all 0.3s ease-out;
}

.title {
    margin: 20px 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    font-weight: 100;

    svg {
        margin-right: 8px;
    }
}
