.tableHeader {
    display: flex;

    padding-right: 16px;

    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);
}

.columnHeaderWrap {
    .columnHeader {
        display: flex;
        align-items: center;

        padding: 8px 0px 8px 16px;

        font-size: 14px;
        text-transform: uppercase;
        color: rgb(50, 50, 50);

        &.bold {
            font-weight: bold;
        }
    }

    &:not(:last-child) {
        .columnHeader {
            border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
    }
}

.noResults {
    display: flex;
    justify-content: center;

    color: rgba(0, 0, 0, 0.3);
}
