@mixin textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 0;

    padding: 16px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &.dummy {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        opacity: 0.1;

        .name,
        .link,
        .description,
        .dlCount {
            background: rgba(0, 0, 0, 0.5);

            &:after {
                content: '​'; // this is a zero-width whitespace, it allows the component to render without visible text, all other whitespace unicode wouldn't work
            }
        }
    }

    &:hover {
        background: rgba(0, 0, 0, 0.03);
    }
}

.rowLink {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.textData {
    display: flex;
    flex-flow: column nowrap;
    flex: 3 0 0;

    width: 0;

    overflow: hidden;

    color: rgb(100, 100, 100);
}

.downloads {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 0;
    align-items: flex-end;
    justify-content: center;

    color: rgb(100, 100, 100);
}

.favoriteButton {
    flex: 0 0 40px;

    .addFavoriteButton {
        position: relative;

        height: 30px;
        width: 30px;
        padding: 0;

        background: none;
        border: none;
        outline: none;

        cursor: pointer;
    }

    .addFavoriteIcon {
        position: absolute;

        width: 28px;

        &.outline {
            path {
                fill: rgba(0, 0, 0, 0.2);
            }
        }

        path {
            fill: rgb(255, 100, 100);
        }
    }
}

.title {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

    margin-bottom: 4px;

    color: rgb(50, 50, 50);
}

.name {
    flex: 0 1 auto;

    font-size: 17px;
    font-weight: bold;
    @include textOverflow();
}

.version {
    flex: 0 0 auto;

    margin-left: 4px;

    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.dateSaved {
    flex: 1 0 auto;

    margin-left: 4px;

    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
}

.link {
    margin-bottom: 2px;

    font-size: 15px;
    @include textOverflow();

    &:not(:visited) {
        color: royalblue;
    }
}

.description {
    font-size: 15px;
    @include textOverflow();
}

.dlCount {
    font-size: 24px;
    color: rgb(50, 50, 50);
}

.dlText {
    font-size: 11px;
    text-transform: uppercase;
}
