@import 'core/app.module.scss';

.header {
    @extend .header;

    * {
        transition: all 0.3s ease-out;
    }

    &.left {
        align-items: flex-start;
    }

    &.noSearch {
        height: 100vh;

        .gem {
            left: 50%;
            transform: translate(-50%, calc(-20vh - 30px));
        }

        .title {
            left: 50%;
            transform: translateX(-50%);

            margin: 0;
            margin-bottom: 30px;
        }

        .searchForm {
            left: 50%;
            transform: translateX(-50%);

            margin-bottom: 20vh;
        }
    }
}

.gem {
    position: absolute;
    left: 16px;
}

.title {
    @extend .title;

    position: relative;
}

.searchForm {
    position: relative;
    left: 0;
    transform: translateX(80px);

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    min-width: 400px;
    width: 50vw;
}

.searchBox {
    $boxHeight: 32px;
    $sidePadding: 10px;

    position: relative;

    display: inline-flex;
    flex-flow: row;
    flex: 1 0 0;

    height: $boxHeight;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    .searchField {
        flex: 1 0 0;

        padding: 0 40px 0 $sidePadding;

        font-size: 17px;

        border: none;
        outline: transparent !important;
    }

    .searchIcon {
        position: absolute;
        right: $sidePadding;
    }

    .errorMessage {
        position: absolute;
        top: $boxHeight + 4px;
        left: $sidePadding;

        font-size: 14px;
        color: #d12323;
    }
}

.favoritesButtonWrap {
    position: absolute;
    right: -10px;
    transform: translateX(100%);

    overflow: hidden;

    width: 38px;

    background: rgba(0, 0, 0, 0);
    border-radius: 4px;

    transition: width 0.3s ease-out, background 0.3s ease-out;

    &:hover {
        width: 124px;

        background: rgba(0, 0, 0, 0.05);
    }

    .favoritesButton {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        height: 32px;
        padding: 0px 8px;

        white-space: nowrap;

        font-size: 14px;

        border: none;
        background: none;

        cursor: pointer;

        svg {
            margin-right: 8px;
        }
    }
}

.progress {
    position: absolute;
    right: 16px;

    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
}
